<% if can? :update, subject %>
  <td><%= link_to "Edit", edit_adtype_path(subject) %></td>
<% end %>
<% if can? :destroy, subject %>
  <td><%= link_to "Destroy", subject, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
