<% title "Adtypes" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for adtype in @adtypes %>
    <tr>
      <td><%= adtype.name %></td>
      <td><%= link_to "Show", adtype %></td>
      <%= render :partial => 'edit_and_destroy_links', :locals => {:subject => adtype}  %>
    </tr>
  <% end %>
</table>

<% if can? :create, Adtype %>
  <p><%= link_to "New Adtype", new_adtype_path %></p>
<% end %>