<% title "Adtype" %>

<p>
  <strong>Name:</strong>
  <%= @adtype.name %>
</p>

<% unless @adtype.ads.blank? %>
<p>
  <strong>Ads:</strong>
  <% @adtype.ads.each do |ad| %>
    <%= link_to ad.title, ad_path(ad) %>
  <% end %>
</p>
<% end %>

<p>
  <%= render :partial => 'edit_and_destroy_links', :locals => {:subject => @adtype}  %>
  <%= link_to "View All", adtypes_path %>
</p>
